* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'montserrat', sans-serif;
    color: #fff;
}

html,
body {
    width: 100%;
    height: 100%;
    /* overflow:hidden; */
    /* perspective: 100%; */
}
*::selection{
    background-color: #fff;
    color:#b3ff00
}
body::-webkit-scrollbar{
    display:block;
    width:5px;
    background-color: #b3ff00;
}
body::-webkit-scrollbar-thumb{
    border-radius: 50px ;
    background-color: rgb(254, 255, 255);
}

#nav {
    width: 100%;
    height: 160px;
    /* background-color: transparent; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 45px;
    padding: 0 135px;
    position: fixed;
    z-index: 99;
}

#nav img {
    height: 90px;
    transition: all linear 1;
}
#nav img:hover{
    scale:0.95;
}

#nav h4 {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
    transition: all ease 0.4s;
}

#nav h4:hover {
    /* font-size: 30px; */
    color: #beff26;
    /* margin-left: 10px; */
    /* margin-right: 10px; */
    /* filter: blur(10px); */
    }
    


#cursor {
    height: 30px;
    width: 30px;
    background-color: #beff26;
    border-radius: 50%;
    position: fixed;
    z-index: 99;
    transition: left linear 0.3s top linear 0.3s;
    /* transition-timing-function: 1s; */

}

#cursor-blur {
    height: 200px;
    width: 200px;
    background-color: #b3ff00;
    border-radius: 50%;
    position: fixed;
    filter: blur(100px);
    z-index: 9;
    transition: all linear 0.4s;
    /* scroll-behavior: smooth; */
}

video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: fixed;
    /* z-index: -1; */

}

#main {
    position: relative;
    background-color: #0b0a0a74;
    overflow: hidden;

    /* height:100vh; */
}

#page1 {
    height: 100vh;
    width: 100%;
    /* background-color: #ac2d2d8e; */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    z-index: 10;
}

#page1 h1 {
    font-size: 125px;
    font-weight: 900;
    position: relative;
    font-family: sans-serif;
    cursor: context-menu;
}

#page1 h1::before {
    content: "EAT. DRINK. PLAY.";
    color: black;
    position: absolute;
    top: -6px;
    left: -5px;

    -webkit-text-stroke: 2px #beff26;
    z-index: -1;
}

#page1 h2 {
    font-weight: 800;
    margin-top: 12px;
    margin-bottom: 15px;
    font-family: sans-serif;
    font-size: 28px;
}

#page1 p {
    font-size: 22px;
    width: 47%;
}
#page1 #arrow{
    height:250px;
    width: 250px;
    border-radius:50%;
    /* background-color: red; */
    border: 2px solid rgb(124, 201, 1);
    position:absolute;
    left:-50px;
    bottom:2px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all ease 0.2s;
}
#arrow i{
    font-size: 60px;
    /* font-weight: 100; */
    }
    #page1  #arrow:hover{
        scale: 0.5;
        background-color: #b3ff00;
    }

#page2 {
    min-height: 100vh;
    width: 100%;
    z-index: 10;
    /* overflow: hidden; */
}

#scroller {
    /* display:inline-block; */
    /* position: fixed; */
    white-space: nowrap;
    /* overflow-x: auto; */
    /* overflow-y: hidden; */
    position: relative;
    z-index: 10;
}

#scroller::-webkit-scrollbar {
    display: none;
}

#scrollerin h4 {
    /* background-color: red; */
    display: inline-block;
    font-size: 150px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-right: 20px;
    -webkit-text-stroke: 3.5px #f0f2ed;
    color: transparent;
    transition: all linear 0.3s;
}

#scrollerin h4:hover {
    color: #beff26;
    -webkit-text-stroke: 0;
}

#scrollerin {
    white-space: nowrap;
    display: inline-block;
    /* position: fixed; */
    animation-name: scroll;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes scroll {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-100%);
    }
}

#aboutus {
    /* background-color:orchid; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* display:inline-block; */
    width: 100%;
    margin-top: 60px;
    z-index: 10;
    position: relative;
    top: 100px;
}

#aboutus img {
    object-fit: cover;
    border-radius: 10px;
    height: 230px;
    width: 180px;
}

#aboutus #img1 {
    height: 190px;
}

#aboutus #img2 {
    height: 250px;
}

#aboutus #in {
    display: inline-block;
    text-align: center;
    width: 55%;
}

#aboutus #in h3 {
    font-size: 70px;
    font-weight: 900;
    font-family: sans-serif;
}

#aboutus #in p {
    font-size: 23px;
    margin-bottom: 50px;
    margin-top: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 40px;
}



#cards {
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 90vh;
    width: 100%;
    /* overflow: hidden; */
    gap: 70px;
    z-index: 9;
    /* padding:100px; */
    padding-left: 150px;
    padding-right: 150px;
    /* margin: 10px; */
    top: -50px;


}

#cards .card {
    height: 680px;
    width: 450px;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    /* position: absolute; */
    overflow: hidden;
    transition: all linear 0.3s;
    z-index: 13;

}

#cards #c1 {
    background-image: url(https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/home-toptracer.jpg?strip=all&lossy=1&sharp=1&ssl=1);
    object-fit: cover;
    object-position: center;

}

#cards #c2 {
    background-image: url(https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/hero-4.jpg?strip=all&lossy=1&sharp=1&ssl=1);
    object-fit: cover;
    object-position: center;

}

#cards #c3 {
    background-image: url(https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/home-lessons.jpg?strip=all&lossy=1&sharp=1&ssl=1);
    object-fit: cover;
    object-position: center;

}

.overlay {
    /* font-size: 20px; */
    background-color: #b3ff00;
    height: 100%;
    width: 100%;
    padding: 20px;

    padding-top: 180px;
    position: relative;
    opacity: 0;
    transition: all ease 0.6s;
    /* overflow: hidden; */
}

.overlay h4 {
    white-space: nowrap;
    color: black;
    text-transform: uppercase;
    font-size: 40px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* font-weight: 900; */
    margin-bottom: 60px;
    font-weight: 800;
    /* width:20px; */
    /* background-color: black; */
}

.overlay p {
    color: black;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 550;
}

.card:hover .overlay {
    opacity: 1;
}

.card:hover {
    transform: rotate3D(1, 1, 1, 10deg);
}

#bub {
    width: 300px;
    height: 450px;
    position: relative;
    top: 150px;
    left: 70px;
    /* z-index: 10; */

}

#grd {
    height: 30vh;
    width: 100%;
    background: linear-gradient(to left bottom, #27de06 20%, #b3ff00 80%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    z-index: 10;
    position: relative;
    margin-bottom: 50px;
    /* background-color: blue; */
    /* overflow: hidden; */
}

#grd img {
    height: 100%;
    width: 15%;
    object-fit: cover;
    margin: 0;
}

#grd h4 {
    font-size: 30px;
    font-weight: 900;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    width: 30%;
    line-height: 60px;
    color: black;
}

#page3{
    min-height: 100vh;
    width:100%;
    background-color: black;

}
#text{
    height: 30vh;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: rgb(214, 24, 24); */
    position: relative;
    margin-top: 230px;
}
#text img{
    height:50px;
    width:50px;
    /* object-fit: cover; */
    position: absolute;
}
#text p{
    font-size: 31px;
    font-weight: 900;
    width:49%;
    color:white;
    line-height: 55px;
    text-align: center;
    font-family:  sans-serif;
}
#text #colon1{
    top:-19%;
    left:18%;
}
#text #colon2{
    bottom:-19%;
    right:19%;
}
#page4{
    height:50vh;
    width: 100%;
    /* background-color: red; */
    display:flex;
    align-items: center;
    justify-content: center;
    gap:65px;
    margin-top: -18%;
    position: relative;
}
#elem{
    height:60%;
    width:25%;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    
}
#elem h2{
    padding: 15px;
    height:100%;
    width:100%;
    color:black;
    background-color:#beff26;
    position: absolute;
    z-index: 10;
    font-size: 36px;
    font-family:  sans-serif;
    font-weight: 900;
    text-align: center;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all linear 0.5s;
}
#elem img{
    height: 100%;
    width: 100%;
    scale:1.2;
    object-fit: cover;
    transition: all ease 1s;
}
#elem:hover h2{
    color:#fff;
    background-color: transparent;
    /* font-size: 30px; */
    }
    #elem:hover img{
        scale:1;
    }
    #page4 h1{
        position: absolute;
        font-size: 107px;
        font-weight: 790;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        white-space:nowrap;
        top:2px;
        color:rgb(0, 0, 0);
        -webkit-text-stroke: 2px  rgb(235, 235, 235);
        
    }
     #page4 #elem:hover h1{
        -webkit-text-stroke: 2px  rgb(139, 246, 8);
    }

